@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@media screen and (min-width: 1400px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
